@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

html {
  font-size: 62.5%;
  font-family: 'PT Sans', sans-serif;

  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  margin: 0; padding: 0;
  background: #65C3AD;
  height: 100vh;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2 {
  margin: 0;
}

$container-width: 800px;
$border-radius: 10px;

#container {
  // position: absolute;
  // top: 50%; left: 50%;
  // transform: translate(-50%, -50%);
  position: relative;

  width: $container-width;
  margin: 20px auto;
  padding: 40px;


  background: white;
  border-radius: $border-radius;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

header {
  text-align: justify;

  h1 {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    font-size: 2.2rem;
    color: #717882;
  }

  .right-nav {
    display: inline-block;
    vertical-align: middle;

    button {
      background: #65C3AD;
      border: none;
      border-radius: $border-radius;
      padding: 5px 20px;
      color: white;
      font-size: 1.4rem;
      outline: 0;
      cursor: pointer;
      transition: background 0.3s;
    }

    button:hover {
      background: #1abc9c;
    }

    button:disabled {
      background: lightgray;
      cursor: default;
    }
  }
}

header:after{
  content: "";
  width: 100%;
  display: inline-block;
}

.drop-box {
  border-radius: $border-radius;
  border: 2px dashed lightgray;
  height: 360px;

  position: relative;;

  transition: border 0.3s;
  // cursor: pointer;
  text-align: center;

  .underline {
    cursor: pointer;
    text-decoration: underline;
  }

  .overlay {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgb(0, 0, 0);
    z-index: 10;
    border-radius: $border-radius;

    visibility: hidden;
    overflow: hidden;
    white-space: nowrap;

    .box {
      position: absolute;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      border: 2px solid red;
    }

    .helper {
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .uploaded-picture {
      display: inline-block;
      max-width: 100%;
      max-height: 100%;
      width: auto;
      height: auto;

      // width: 100%;
      // height: 100%;
      // object-fit: contain;
      // object-position: 50% 50%;

      margin:0 auto;
     padding:0;
     border:0;
     outline:0;
     font-size:100%;
     vertical-align: middle;
     background:transparent;
     opacity: 0;
     transition: opacity 0.3s;
    }

    .uploaded-picture.loaded {
      opacity: 1;
    }

    .overlay-close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 5px 10px;
      color: white;
      background: rgba(0, 0, 0, 0.70);
      cursor: pointer;

      opacity: 0;
      transition: opacity 0.3s;
    }

    &:hover {
      .overlay-close {
        opacity: 1;
      }
    }
  }

  .content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    .upload-icon {
      transition: color 0.3s;
    }

    .upload-icon, .files-mini {
      font-size: 7rem;
      color: #F0F0EC;
    }

    .drag-subtitle {
      color: #717882;
    }

    .drag-title {
      font-weight: bold;
      font-size: 2.4rem;
    }

    .files-mini {
      position: relative;

      .file-mini {
        display: inline-block;
        position: relative;
        transition: transform 0.3s, color 0.3s;

        .extension {
          position: absolute;
          bottom: 32px;

          width: 100%;

          font-size: 1.6rem;
        }

        &:first-child, &:nth-child(2) {
          position: absolute;
          z-index: -10;
        }

        &:first-child {
          transform: rotate(-25deg) translate(-80%, -10%);

          .extension {
            color: #3498db;
          }
        }

        &:nth-child(2) {
          transform: rotate(25deg) translate(80%, -10%);

          .extension {
            color: #2ecc71;
          }
        }

        &:nth-child(3) {
          i {
            background: white;
            border-radius: 6px;
          }

          .extension {
            color: #9b59b6;
          }
        }
      }
    }
  }
}

.drop-box.preview {
  border: none;
  cursor: default;

  .overlay {
    visibility: visible;
  }
}

.drop-box:hover, .drop-box.dragover {
  border-color: #65C3AD;

  .content {
    .upload-icon {
      color: #65C3AD;
    }

    .files-mini {
      .file-mini {
        &:first-child {
          transform: rotate(-25deg) translate(-80%, -30%);
          color: #3498db;
        }

        &:nth-child(2) {
          transform: rotate(25deg) translate(80%, -30%);
          color: #2ecc71;
        }

        &:nth-child(3) {
          color: #9b59b6;
          transform: translate(0, -20%);
        }
      }
    }
  }
}

.delimeter {
  text-align: center;
  font-size: 2.4rem;
  color: #717882;
  margin: 20px 0;

  .delimeter-line {
    background: lightgray;
    display: inline-block;
    vertical-align: middle;
    width: 60px;
    height: 1px;
  }
}

.url-input {
  input {
    display: block;

    width: 100%;
    padding: 10px;

    text-align: center;
    outline: 0;
    border: 1px solid lightgray;
    color: #717882;
    font-size: 1.6rem;

    border-radius: $border-radius;
  }
}

.choices {
  text-align: center;
  .choice {
    display: inline-block;
    width: 140px;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: $border-radius;
    margin: 0 5px;
    cursor: pointer;

    img, p {
      opacity: 0.5;
      transition: opacity 0.3s;
    }

    p {
      margin-bottom: 0;
    }
  }

  .choice.selected, .choice:hover {
    border: 1px solid black;

    img, p {
      opacity: 1;
    }
  }

  .choice.selected {
    cursor: default;
  }
}

@media screen and (max-width: $container-width) {
  #container {
    width: 100%;
    border-radius: 0;
  }
}
