<!DOCTYPE html>
<html lang="en" ng-app="deepomatic">
  <head>
    <meta charset="utf-8">
    <title>Deepomatic Angular</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/build/css/app.css">
    <script src="/build/js/app.min.js" charset="utf-8"></script>
  </head>
  <body ng-controller="DetectorController as detector">
    <div id="container">
      <header>
        <h1>Deepomatic Angular</h1>

        <div class="right-nav" ng-class="{test: detector.choice == 'weapons'}">
          <button type="button" name="button" disabled="disabled" ng-disabled="detector.detectButtonDisable" ng-click="detector.detect();">Detect</button>
        </div>
      </header>

      <div class="upload-error" ng-show="detector.errorMessage.length">
        Oups ! {{detector.errorMessage}}
      </div>

      <div class="drop-box" ngf-drop="detector.upload($file)" ng-model="file" name="file" ngf-pattern="'image/jpeg,image/jpg,image/png,image/bmp'"
    ngf-accept="'image/jpeg,image/jpg,image/png,image/bmp'" ngf-drag-over-class="'dragover'" ngf-max-size="20MB" ng-class="{preview: detector.overlay}" ng-disabled="detector.overlay">
        <div class="overlay" ng-class="{loading: detector.loaderMessage.length}">
          <!-- <div class="detail" box-detail></div> -->
          <div class="loader">
            <div class="content">
              <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
              </div>

              <p>
                {{detector.loaderMessage}}
              </p>
            </div>
          </div>

          <div class="overlay-close" ng-click="detector.reset()"><i class="fa fa-times" aria-hidden="true"></i></div>
          <img ng-src="{{detector.picture}}" ng-show="detector.picture.length" picture="detector.picture" class="uploaded-picture" image-load>
          <span class="helper"></span>
          <div class="boxes" ng-repeat="(type, list) in detector.boxes">
            <div ng-repeat="box in list" box positions="box" type="{{type}}" class="box"></div>
          </div>
        </div>
        <div class="content">
          <div class="files-mini">
            <div class="file-mini">
              <i class="fa fa-file-o" aria-hidden="true"></i>
              <div class="extension">
                .png
              </div>
            </div>
            <div class="file-mini second">
              <i class="fa fa-file-o" aria-hidden="true"></i>
              <div class="extension">
                .bmp
              </div>
            </div>
            <div class="file-mini">
              <i class="fa fa-file-o" aria-hidden="true"></i>
              <div class="extension">
                .jpg
              </div>
            </div>
          </div>
          <div class="upload-icon">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
          </div>
          <div class="drag-title">
            Drag & drop
          </div>
          <div class="drag-subtitle">
            your picture here, or <span class="underline" ngf-select="detector.upload($file)" ngf-pattern="'image/*'"
          ngf-accept="'image/*'" ngf-max-size="20MB">browse</span>
          </div>
        </div>
      </div>

      <div ng-hide="detector.overlay">
        <div class="delimeter">
          <div class="delimeter-line"></div>
          OR
          <div class="delimeter-line"></div>
        </div>

        <div class="url-input">
          <input type="text" name="" value="" placeholder="Paste image direct link (.jpg, .png, .bmp)" ng-keyup="detector.urlInput()" ng-model="detector.urlInputValue" ng-class="{error: detector.urlInputValue.length && !detector.validInput}">
        </div>
      </div>

      <div ng-show="detector.isDetect">
        <div class="delimeter">
          <div class="delimeter-line"></div>
          WE FOUND
          <div class="delimeter-line"></div>
        </div>

        <p class="boxes-detail" ng-if="detector.emptyBoxes();">
          Sorry, we don't found any {{::detector.choice}} on this picture.
        </p>

        <p class="boxes-detail" ng-repeat="(type, list) in detector.boxes">
          {{list.length}} {{type}}
        </p>
      </div>

      <!-- ng-hide="detector.isDetect" -->
      <div>
        <div class="delimeter">
          <div class="delimeter-line"></div>
          CHECK FOR
          <div class="delimeter-line"></div>
        </div>

        <div class="choices">
          <div class="choice" ng-click="detector.choice = 'fashion'" ng-class="{selected: detector.choice == 'fashion'}">
            <img src="img/tie.svg" alt="">
            <p>Fashion</p>
          </div>

          <div class="choice" ng-click="detector.choice = 'weapons'" ng-class="{selected: detector.choice == 'weapons'}">
            <img src="img/target.svg" alt="">
            <p>Weapons</p>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
