<!DOCTYPE html>
<html lang="en" ng-app="deepomatic">
  <head>
    <meta charset="utf-8">
    <title>Deepomatic Angular</title>

    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/build/css/app.css">
    <script src="/build/js/app.js" charset="utf-8"></script>
  </head>
  <body ng-controller="DetectorController as detector">
    <div id="container">
      <header>
        <h1>Deepomatic Angular</h1>

        <div class="right-nav">
          <button type="button" name="button" disabled="disabled" ng-disabled="detector.detectButtonDisable" ng-click="detector.detect();">Detect</button>
        </div>
      </header>

      <div class="drop-box" ngf-select="detector.upload($file)" ngf-drop="detector.upload($file)" ng-model="file" name="file" ngf-pattern="'image/*'"
    ngf-accept="'image/*'" ngf-drag-over-class="'dragover'" ngf-max-size="20MB">
        <div class="overlay" ng-show="detector.picture.length">
          <div class="overlay-close"><i class="fa fa-times" aria-hidden="true"></i></div>
          <img ng-src="{{detector.picture}}" alt="" class="uploaded-picture">
        </div>
        <div class="content">
          <div class="files-mini">
            <div class="file-mini">
              <i class="fa fa-file-o" aria-hidden="true"></i>
              <div class="extension">
                .gif
              </div>
            </div>
            <div class="file-mini second">
              <i class="fa fa-file-o" aria-hidden="true"></i>
              <div class="extension">
                .png
              </div>
            </div>
            <div class="file-mini">
              <i class="fa fa-file-o" aria-hidden="true"></i>
              <div class="extension">
                .jpg
              </div>
            </div>
          </div>
          <div class="upload-icon">
            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
          </div>
          <div class="drag-title">
            Drag & drop
          </div>
          <div class="drag-subtitle">
            your picture here, or <span class="underline">browse</span>
          </div>
        </div>
      </div>
      <div class="or">
        <div class="or-line"></div>
        OR
        <div class="or-line"></div>
      </div>

      <div class="url-input">
        <input type="text" name="" value="" placeholder="Set image URL" ng-keyup="detector.urlInput()" ng-model="detector.urlInputValue">
      </div>
    </div>
  </body>
</html>
